
    
<style>

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #dc8100;
        text-decoration: none;
    }

        a:hover {
            color: #333;
            text-decoration: none;
        }
</Style>

<article>
    <h1>Thank you</h1>
    <h2>COVID-19 declaration have been approved</h2><hr />
    <div>
        <p> If your browser doesn't automatically go there within a few seconds, <a href="http://covid19.bth.infineon.com/declaration"><b>Click Here</b></a></p>
        <p>&mdash; Operational Excellence</p>

        <p>Web page redirects after 5 seconds.</p>
    </div>
</article>

<script>
    setTimeout(function () {
        window.location.href = 'http://covid19.bth.infineon.com/declaration';
    }, 5000);
</script>