@model IEnumerable<Declaration.ViewModel.DeclarationDetailViewModel>

<div class="jumbotron">
    <h1 class="display-4">@Resources.Home.Select_declaration_detail</h1>
</div>

<p>@Resources.Home.Please_select:</p>
<hr />
<div style="width:100%;">
    @foreach (var item in Model)
    {
        <button class="btn btn-light btn-block" style="text-align:left;" type="button" id="addressSearch"
                onclick="location.href='@Url.Action("SelectDetail", "Home", new { id = item.DeclarationDetailId})'">
           @Html.Raw(item.DeclarationDetail)
        </button>
    }
</div>